body{
    background-color: rgb(70, 148, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
    text-align: center;
}
p{
    margin: auto;
    margin-left: auto;
    
}

div{
    width: 90px;
    height: 90px;
    background-color: lightgrey;
    border-style: solid;
    display: inline-block;
    text-align: center;
    font-size: 80px;
}
div:hover{
    background-color: yellow;
}

div > p{
    display: none;
}

div:hover > p{
    display: block;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}


